---
layout: default
title: About me
permalink: /about/

education:
    - title: "University of Engineering and Technology, VNU"
        place: "Hanoi, Vietnam"
        subtitle: "Bachelor of Science, Computer Science"
        time: "2022 - 2026"
    - title: "Vinh Phuc Gifted High School"
        place: "Vinh Phuc, Vietnam"
        subtitle: "Maths specialized"
        time: "2019 - 2022"
        
---     

<h1>Education</h1>
<hr>

<ul>
  {% for cv-entry in page.education %}
  <li>{% include cv-entry.html %}</li>
  <br>
  {% endfor %}
</ul>
